<html>

<head>
    <script defer type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script defer src="./js/account.js"></script>
</head>

<body>
    <input type="radio" id="basic" name="product" value="basic" />
    <label for="basic">Basic for $10</label><br />
    <input type="radio" id="pro" name="product" value="pro" />
    <label for="pro">Pro for $12</label><br />

    <button class="btn btn-primary" id="checkout-button" type="submit">
        Buy now
    </button>

</body>
<html>